:root {
  --font-family: "Poppins", sans-serif;
  --font-size: 16px;
  --font-weight: 500;
  --font-color: #fff;
  --nav-item-color: #abb6c7;
  --dark: #102851;
  --Primary: #2aa8ff;
  --link-color: #fff;
  --link-hover-color: #fff;
  --button-bg-color: #2aa8ff;
  --White: #fff;
  --Gray: #abb6c7;
}
.services-container {
  width: 1230px;
  height: 429px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--White, #fff);
  box-shadow: 6px 6px 35px 0px rgba(16, 40, 81, 0.11);
  padding: 35px;
  position: absolute;
  margin: auto;
  left: 0%;
  right: 0%;
  top: 100vh;
}
.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input {
  width: 505px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #f0f0f0;
  background: #fafbfe;
  border: none;
  outline: none;
  flex: 1;
  padding: 20px 50px;
}
/* Target the input field */
.input[type="search"] {
  color: var(--Gray, #abb6c7);
  font-family: var(--font-family, sans-serif);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}
.seacrh-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.input-search-icon {
  position: absolute;
  top: 49px;
  /* left: 47px; */
  margin-left: 15px;
}
.search-icon {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Primary, #2aa8ff);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.title-and-see {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-title {
  color: var(--dark, #102851);
  font-family: var(--font-family, sans-serif);
  font-size: 20px;
  font-style: normal;
  font-weight: var(--font-weight, 500);
  line-height: normal;
  letter-spacing: 0.4px;
}
.see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.see-more-text {
  color: var(--Primary, #2aa8ff);
  font-family: var(--font-family, sans-serif);
  font-size: var(--font-size, 16px);
  font-style: normal;
  font-weight: var(--font-weight);
  line-height: normal;
  letter-spacing: 0.32px;
}
