:root {
  --font-family: "Poppins", sans-serif;
  --font-size: 16px;
  --font-weight: 500;
  --font-color: #fff;
  --nav-item-color: #abb6c7;
  --dark: #102851;
  --Primary: #2aa8ff;
  --link-color: #fff;
  --link-hover-color: #fff;
  --button-bg-color: #2aa8ff;
  --White: #fff;
  --Gray: #abb6c7;
}

.reviews-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  padding: 100px;
  background: #fafbfe;
  margin-top: 200px;
}
.reviews-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-direction: column;
}
.review-title {
  color: var(--dark, #102851);
  text-align: center;
  font-family: var(--font-family), sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: var(--font-weight, 500);
  line-height: 68px; /* 154.545% */
  letter-spacing: 0.88px;
}
.review-name {
  color: var(--dark, #102851);
  text-align: center;
  font-family: var(--font-family, sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: var(--font-weight, 500);
  line-height: normal;
  letter-spacing: 0.36px;
}
.review-location {
  color: var(--Gray, #abb6c7);
  text-align: center;

  font-family: var(--font-family, sans-serif);
  font-size: var(--font-size, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
}
.review-description {
  color: var(--Gray, #abb6c7);
  font-family: var(--font-family, sans-serif);
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 32px; /* 160% */
  letter-spacing: 0.4px;
}
.review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.review-profile-image {
  width: 84px;
  height: 84px;
  flex-shrink: 0;
  background-color: #03dcbf;
  overflow: hidden;
  object-fit: cover;
}
.review-profile-image img {
  width: 100%;
}
.rectangle-image {
  width: 236px;
  height: 300px;
  flex-shrink: 0;
  fill: #e8f1ff;
  overflow: hidden;
  object-fit: cover;
  /* background-color: #e8f1ff; */
  position: absolute;
  left: 215px;
}
.review-profile {
  display: flex;
  justify-content: flex-start;
  gap: 18px;
  flex-wrap: unset;
}
.review-profile-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  gap: 5px;
}
.review-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
}
