:root {
  ---body-bg-color: linear-gradient(81deg,
      #e7f0ff 9.01%,
      rgba(232, 241, 255, 0.47) 89.11%);
  --font-family: "Poppins", sans-serif;
  --font-size: 16px;
  --font-weight: 500;
  --font-color: #fff;
  --nav-item-color: #abb6c7;
  --dark: #102851;
  --background-color: #2aa8ff;
  --link-color: #fff;
  --link-hover-color: #fff;
  --button-bg-color: #2aa8ff;
}

.App-header {
  width: 100%;
  background: var(---body-bg-color, #e7f0ff);
  padding: 30px 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 0px 100px;
  flex-wrap: wrap;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.nav-list li {
  list-style: none;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  cursor: pointer;
}

.nav-list-home {
  color: var(--dark, #102851);
  letter-spacing: 0.32px;
}

.item-links {
  color: var(--nav-item-color, #abb6c7);
}

.sign-up-in {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.sign-up {
  color: var(--dark, #102851);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  cursor: pointer;
}

.sign-in {
  display: inline-flex;
  padding: 12px 36px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: var(--button-bg-color, #2aa8ff);
  color: var(--font-color, #fff);
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.sign-in:hover {
  background: #51b6ff;
}


/* Small devices (Mobile devices) */
@media screen and (min-width: 300px) and (max-width: 480px) {

  /* Add your mobile styles here */
  .App-header {
    padding: 0px;
    /* display: none; */
  }

  .navbar {
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    padding: 20px;
    z-index: 2;
    right: 0px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 100vh;
  }
.navbar.close{
  transform: translateX(100%);
}
.navbar.open{
  transform: translateX(0%);
}
  .nav-list {
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 50px;
  }

  .sign-up-in {
    align-items: flex-end;
    flex-direction: column;
    margin-top: 50px;
  }
  .burger-navbar{
    margin: 5px;
    position: absolute;
    z-index: 2;
  }
  .navbar.close{
    transform: translateX(140%);
    transition: all 0.3s ease-in-out;
  }
  .navbar.open{
    transform: translateX(0%);
    transition: all 0.3s ease-in-out;
  }
}

/* Medium devices (iPads, Tablets) */
@media screen and (min-width: 481px) and (max-width: 768px) {

  /* Add your tablet styles here */
  .App-header {
    padding: 0px;
    /* display: none; */
  }

  .navbar {
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    padding: 20px;
    z-index: 2;
    right: 0px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 100vh;
    transform: translateX(140%);
  }

  .nav-list {
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 50px;
  }

  .sign-up-in {
    align-items: flex-end;
    flex-direction: column;
    margin-top: 50px;
  }
  .burger-navbar{
    margin: 10px;
    position: absolute;
    z-index: 2;
  }
  .navbar.close{
    transform: translateX(140%);
    transition: all 0.3s ease-in-out;
  }
  .navbar.open{
    transform: translateX(0%);
    transition: all 0.3s ease-in-out;
  }
}

/* Large devices (Small screens, laptops) */
@media screen and (min-width: 769px) and (max-width: 1024px) {

  /* Add your small screen/laptop styles here */
  .App-header {
    padding: 0px;
    /* display: none; */
  }

  .navbar {
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    padding: 20px;
    z-index: 2;
    right: 0px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 100vh;
  }

  .nav-list {
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 50px;
  }

  .sign-up-in {
    align-items: flex-end;
    flex-direction: column;
    margin-top: 50px;
  }
  .burger-navbar{
    margin: 10px;
    position: absolute;
    z-index: 2;
  }
  .navbar.close{
    transform: translateX(140%);
    transition: all 0.3s ease-in-out;
  }
  .navbar.open{
    transform: translateX(0%);
    transition: all 0.3s ease-in-out;
  }
}

/* Extra large devices (Desktops, large screens) */
@media screen and (min-width: 1025px) and (max-width: 1200px) {

  /* Add your desktop styles here */
}

/* TV and Extra large screens */
@media screen and (min-width: 1201px) {

  /* Add your extra large screen styles here */
}